
Data/pair0010_20200205_1230.bdf
Data/pair0011_20200205_1530.bdf
Data/pair0012_20200206_0930.bdf
Data/pair0014_20200206_1530.bdf
Data/pair0016_20200210_0930.bdf
Data/pair0017_20200210_1230.bdf
Data/pair0018_20200210_1530.bdf
Data/pair0019_20200211_0930.bdf
Data/pair0020_20200211_1530.bdf
Data/pair0022_20200212_1230.bdf
Data/pair0023_20200212_1530.bdf
Data/pair0024_20200213_0930.bdf
Data/pair0027_20200214_1230.bdf
Data/pair003_20200129_1530.bdf
Data/pair004_20200130_0930.bdf
Data/pair005_20200130_1530.bdf
Data/pair007_20200201_1200.bdf
Data/pair009_20200205_0930.bdf
after_ica_a.pickle
*.pickle
epochs_a_cleaned-epo.fif
epochs_a_preprocessed-epo.fif
epochs_a_resampled-epo.fif
epochs_a_short.fif
epochs_b_cleaned-epo.fif
epochs_b_preprocessed-epo.fif
epochs_b_resampled-epo.fif
epochs_b_short.fif
epochs_cleaned_pair003_a-epo.fif
epochs_cleaned_pair003_b-epo.fif
fnsys-09-00175(con-measures).pdf
pair003_alpha_Control_long.npy
pair003_alpha_Control_short.npy
pair003_alpha_Coupled_long.npy
pair003_alpha_Coupled_short.npy
pair003_alpha_Follower_long.npy
pair003_alpha_Follower_short.npy
pair003_alpha_Leader_long.npy
pair003_alpha_Leader_short.npy
pair003_alpha_Uncoupled_long.npy
pair003_alpha_Uncoupled_short.npy
pair003_beta_Control_long.npy
pair003_beta_Control_short.npy
pair003_beta_Coupled_long.npy
pair003_beta_Coupled_short.npy
pair003_beta_Follower_long.npy
pair003_beta_Follower_short.npy
pair003_beta_Leader_long.npy
pair003_beta_Leader_short.npy
pair003_beta_Uncoupled_long.npy
pair003_beta_Uncoupled_short.npy
pair003_theta_Control_long.npy
pair003_theta_Control_short.npy
pair003_theta_Coupled_long.npy
pair003_theta_Coupled_short.npy
pair003_theta_Follower_long.npy
pair003_theta_Follower_short.npy
pair003_theta_Leader_long.npy
pair003_theta_Leader_short.npy
pair003_theta_Uncoupled_long.npy
pair003_theta_Uncoupled_short.npy
*.fif
*.npy
*.png
